.u- {
  &center-text {
    text-align: center;
  }
  &margin {
    &-bottom {
      &-big {
        margin-bottom: 8rem;
      }
      &-medium {
        margin-bottom: 4rem;
      }
      &-small {
        margin-bottom: 1.5rem;
      }
    }
    &-top {
      &-big {
        margin-top: 8rem;
      }
      &-huge {
        margin-top: 10rem;
      }
    }
  }
}